<%- include('header') %>
    <!-- basic styles -->

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
		  <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

    <!-- page specific plugin styles -->


    <!-- fonts -->

    <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" /> -->

    <!-- ace styles -->

    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
		<![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.js"></script>
		<script src="/assets/js/respond.min.js"></script>
		<![endif]-->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
        </script>

        <div class="main-container-inner">
            <div class="main-content">

                <div class="page-content">
                    <div class="row">
                        <h1>文章录入页</h1>
                        <h1> </h1>
                        <form action="/articles/add" method="post">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <h4 class="clearfix text-center">
                                    <input type="text" name="arttitle" class="col-md-6" placeholder="
                                请输入标题">作者:
                                    <label for="artuid"><%= user.userName %></label>
                                    <input type="text" id="artuid" name="artuid" value="<%= user.userId %>" class="hidden"><br></h4>
                                <input type="text" id="artcontent" name="artcontent" class="hidden"><br></h4>
                                <span class="block pull-right">
										<small class="grey middle">选择风格: &nbsp;</small>

										<span class="btn-toolbar inline middle no-margin">
											<span data-toggle="buttons" class="btn-group no-margin">
												<label class="btn btn-sm btn-yellow">
													1
													<input type="radio" value="1" />
												</label>

												<label class="btn btn-sm btn-yellow active">
													2
													<input type="radio" value="2" />
												</label>

												<label class="btn btn-sm btn-yellow">
													3
													<input type="radio" value="3" />
												</label>
											</span>
                                </span>
                                </span>
                                <div class="wysiwyg-editor" id="editor1"></div>
                                <div class="hr hr-double dotted"></div>
                            </div>
                            <div class="widget-toolbox padding-4 clearfix">
                                <div class="btn-group pull-left">
                                    <button class="btn btn-sm btn-info">
															<i class="icon-remove bigger-125"></i>
															取消
														</button>
                                </div>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-sm btn-purple" type="submit">
															<i class="icon-save bigger-125"></i>
															提交
														</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var $path_assets = "assets"; //this will be used in loading jQuery UI if needed!
        </script>
    </div>
    <!-- /.col -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    <!--[if !IE]> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <script src="/assets/js/markdown/markdown.min.js"></script>
    <script src="/assets/js/markdown/bootstrap-markdown.min.js"></script>
    <script src="/assets/js/jquery.hotkeys.min.js"></script>
    <script src="/assets/js/bootstrap-wysiwyg.min.js"></script>

    <!-- ace scripts -->

    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
        jQuery(function($) {

            function showErrorAlert(reason, detail) {
                var msg = '';
                if (reason === 'unsupported-file-type') {
                    msg = "Unsupported format " + detail;
                } else {
                    console.log("error uploading file", reason, detail);
                }
                $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                    '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
            }

            //$('#editor1').ace_wysiwyg();//this will create the default editor will all buttons

            //but we want to change a few buttons colors for the third style
            $('#editor1').ace_wysiwyg({
                toolbar: [
                    'font',
                    null,
                    'fontSize',
                    null, {
                        name: 'bold',
                        className: 'btn-info'
                    }, {
                        name: 'italic',
                        className: 'btn-info'
                    }, {
                        name: 'strikethrough',
                        className: 'btn-info'
                    }, {
                        name: 'underline',
                        className: 'btn-info'
                    },
                    null, {
                        name: 'insertunorderedlist',
                        className: 'btn-success'
                    }, {
                        name: 'insertorderedlist',
                        className: 'btn-success'
                    }, {
                        name: 'outdent',
                        className: 'btn-purple'
                    }, {
                        name: 'indent',
                        className: 'btn-purple'
                    },
                    null, {
                        name: 'justifyleft',
                        className: 'btn-primary'
                    }, {
                        name: 'justifycenter',
                        className: 'btn-primary'
                    }, {
                        name: 'justifyright',
                        className: 'btn-primary'
                    }, {
                        name: 'justifyfull',
                        className: 'btn-inverse'
                    },
                    null, {
                        name: 'createLink',
                        className: 'btn-pink'
                    }, {
                        name: 'unlink',
                        className: 'btn-pink'
                    },
                    null, {
                        name: 'insertImage',
                        className: 'btn-success'
                    },
                    null,
                    'foreColor',
                    null, {
                        name: 'undo',
                        className: 'btn-grey'
                    }, {
                        name: 'redo',
                        className: 'btn-grey'
                    }
                ],
                'wysiwyg': {
                    fileUploadError: showErrorAlert
                }
            }).prev().addClass('wysiwyg-style2');
            $('[data-toggle="buttons"] .btn').on('click', function(e) {
                var target = $(this).find('input[type=radio]');
                var which = parseInt(target.val());
                var toolbar = $('#editor1').prev().get(0);
                if (which == 1 || which == 2 || which == 3) {
                    toolbar.className = toolbar.className.replace(/wysiwyg\-style(1|2)/g, '');
                    if (which == 1) $(toolbar).addClass('wysiwyg-style1');
                    else if (which == 2) $(toolbar).addClass('wysiwyg-style2');
                }
            });
            //Add Image Resize Functionality to Chrome and Safari
            //webkit browsers don't have image resize functionality when content is editable
            //so let's add something using jQuery UI resizable
            //another option would be opening a dialog for user to enter dimensions.
            if (typeof jQuery.ui !== 'undefined' && /applewebkit/.test(navigator.userAgent.toLowerCase())) {
                var lastResizableImg = null;

                function destroyResizable() {
                    if (lastResizableImg == null) return;
                    lastResizableImg.resizable("destroy");
                    lastResizableImg.removeData('resizable');
                    lastResizableImg = null;
                }

                var enableImageResize = function() {
                    $('.wysiwyg-editor')
                        .on('mousedown', function(e) {
                            var target = $(e.target);
                            if (e.target instanceof HTMLImageElement) {
                                if (!target.data('resizable')) {
                                    target.resizable({
                                        aspectRatio: e.target.width / e.target.height,
                                    });
                                    target.data('resizable', true);

                                    if (lastResizableImg != null) { //disable previous resizable image
                                        lastResizableImg.resizable("destroy");
                                        lastResizableImg.removeData('resizable');
                                    }
                                    lastResizableImg = target;
                                }
                            }
                        })
                        .on('click', function(e) {
                            if (lastResizableImg != null && !(e.target instanceof HTMLImageElement)) {
                                destroyResizable();
                            }
                        })
                        .on('keydown', function() {
                            destroyResizable();
                        });
                }
                enableImageResize();

            }
        });
        $("#editor1").blur(function() {
            $("#artcontent").val($("#editor1").text());
            console.log($("#artcontent").val($("#editor1").text()));
        });
    </script>
    <%- include('footer') %>