<%- include('header') %>

    <link media="all" type="text/css" rel="stylesheet" href="/css/lib.css">
    <link media="all" type="text/css" rel="stylesheet" href="/css/page.css">
    <div class="mm-wrapper" id="mm-wrapper">
        <div class="body">
            <div class="container">
                <div class="col-group">
                    <div class="col-9 col-mb-12">
                        <section class="platform-left-section one-section white section">
                            <div class="rg-board">
                                <div class="rg-board-head">
                                    <p class="title">经验值</p>
                                </div>
                                <div class="rg-board-body">
                                    <div class="description paper">
                                        <p>经验值是fzRoom的一大特色。用户可通过多种途径获得，体现了Room用户为fzRoom所做贡献，及其在fzRoom中的资历排名情况<br></p>
                                        <p>各阶段经验值对应荣誉称号一览</p>
                                        <blockquote>
                                            <p><a href="" class="rg-label level" style="background-color: #056;">方丈平民</a>&nbsp;&nbsp;0-100</p>
                                            <p><a href="" class="rg-label level" style="background-color: #0B7;">方丈县男</a>&nbsp;&nbsp;100-300</p>
                                            <p><a href="" class="rg-label level" style="background-color: #6A3;">方丈县子</a>&nbsp;&nbsp;300-600</p>
                                            <p><a href="" class="rg-label level" style="background-color: #820;">方丈郡伯</a>&nbsp;&nbsp;600-1000</p>
                                            <p><a href="" class="rg-label level" style="background-color: #FAD;">方丈郡侯</a>&nbsp;&nbsp;1000-1500</p>
                                            <p><a href="" class="rg-label level" style="background-color: #60f;">方丈郡公</a>&nbsp;&nbsp;1500-2100</p>
                                            <p><a href="" class="rg-label level" style="background-color: #900;">方丈阁伯</a>&nbsp;&nbsp;2100-2800</p>
                                            <p><a href="" class="rg-label level" style="background-color: #2AA;">方丈阁侯</a>&nbsp;&nbsp;2800-3600</p>
                                            <p><a href="" class="rg-label level" style="background-color: #AAA;">方丈阁公</a>&nbsp;&nbsp;3600-4500</p>
                                            <p><a href="" class="rg-label level" style="background-color: #655;">方丈阁王</a>&nbsp;&nbsp;4500-6000</p>
                                            <p><a href="" class="rg-label level" style="background-color: #AA0;">方丈阁帝</a>&nbsp;&nbsp;6000-8500</p>
                                            <p><a href="" class="rg-label level" style="background-color: #A3A;">方丈半仙</a>&nbsp;&nbsp;8500-12000</p>
                                            <p><a href="" class="rg-label level" style="background-color: #3AA;">方丈散仙</a>&nbsp;&nbsp;12000-18000</p>
                                            <p><a href="" class="rg-label level" style="background-color: #935A46;">方丈正仙</a>&nbsp;&nbsp;18000-25000</p>
                                            <p><a href="" class="rg-label level" style="background-color: #F66;">方丈上仙</a>&nbsp;&nbsp;25000-35000</p>
                                            <p><a href="" class="rg-label level" style="background-color: #803DE2;">方丈阁尊</a>&nbsp;&nbsp;&gt;35000</p>
                                            <p><strong>另：</strong>fzRoom(方丈阁)每年七月初一将举行受封大典，对用户投票选出的过去一年里对fzRoom贡献最大的七个人，赠予特别称号:方丈七宿。拥有七宿称号者，地位凌驾于等级制度之上，拥有近似阁主的管理权限,代表了方丈人的最高荣誉。七宿称号期限为一年，可以无限连任。七宿分别为:
                                            </p>
                                            <p><a href="" class="rg-label level" style="background-color: #945c46;">玄龟</a>&nbsp;&nbsp;：主阁中安全</p>
                                            <p><a href="" class="rg-label level" style="background-color: #FA0;">苍麒</a>&nbsp;&nbsp;：主文阁推荐</p>
                                            <p><a href="" class="rg-label level" style="background-color: #AAA;">飞龙</a>&nbsp;&nbsp;：主武阁副本</p>
                                            <p><a href="" class="rg-label level" style="background-color: #F0F;">起凤</a>&nbsp;&nbsp;：主文武评论</p>
                                            <p><a href="" class="rg-label level" style="background-color: #696;">追梦</a>&nbsp;&nbsp;：主议阁英雄贴</p>
                                            <p><a href="" class="rg-label level" style="background-color: #558;">踏日</a>&nbsp;&nbsp;：主活动发布</p>
                                            <p><a href="" class="rg-label level" style="background-color: #B00;">逐月</a>&nbsp;&nbsp;：主意见反馈</p>
                                            <p></p>
                                        </blockquote>
                                        <p>经验值增长方法&nbsp;&nbsp;</p>
                                        <blockquote>
                                            <p>任务 各种经验拿到手软</p>
                                        </blockquote>
                                        <blockquote>
                                            <p>每日签到 +5-10</p>
                                            <p>文阁发文章 +10</p>
                                            <p>发文帖子 +5</p>
                                            <p>评论文章 +1</p>
                                            <p>文章收到评论 +1</p>
                                            <p>文章收到喜欢 +1</p>
                                            <p>文章被设置为精品或推荐 +20</p>
                                        </blockquote>
                                        <blockquote>
                                            <p>武阁每日擂主 +20</p>
                                            <p>武阁打擂成功 +10</p>
                                            <p>普通副本 + 5</p>
                                            <p>精英副本 + 10</p>
                                            <p>王者副本 + 15</p>
                                            <p>传奇副本 + 20</p>
                                        </blockquote>
                                        <blockquote>
                                            <p>议阁发英雄贴 +10</p>
                                            <p>议阁回复帖子 +1</p>
                                            <p>帖子收到回复 +1</p>
                                            <p>帖子收到赞 +1</p>
                                            <p>帖子被设置为精品或推荐 +20</p>
                                        </blockquote>
                                        <!-- <blockquote>
                                            <p>冒泡 +5</p>
                                            <p>回复泡泡 +1</p>
                                            <p>泡泡收到回复 +1</p>
                                            <p>泡泡收到喜欢 +1</p>
                                        </blockquote>
                                        <blockquote>
                                            <p>分享句子 +5</p>
                                            <p>句子收到喜欢 +1</p>
                                        </blockquote>
                                        <blockquote>
                                            <p>空间被访问 +1</p>
                                            <p>被关注 +10</p>
                                        </blockquote>
                                        <p>每天上限为&nbsp;&nbsp;</p>
                                        <blockquote>
                                            <p>等级 × 10</p>
                                        </blockquote> -->
                                        <!-- <hr>
                                        <p>真气值是可以消耗的，具体表现在社区的一些特殊的操作上&nbsp;&nbsp;</p>
                                        <blockquote>
                                            <p>文学站奖励文章作者，消耗 10 真气，奖励作者 1 文钱若古币</p>
                                        </blockquote> -->
                                    </div>
                                    <hr>


                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-3 col-mb-12">
                        <section class="page-side-section sidebar one-section white section">
                            <div class="rg-board">
                                <div class="rg-board-head">
                                    <p class="title">帮助页面</p>
                                </div>
                                <div class="rg-board-body">
                                    <ul>
                                        <li> ·
                                            <a href="https://www.ruogoo.cn/writer">经验值</a>
                                        </li>
                                        <li> ·
                                            <a href="https://www.ruogoo.cn/writer">方丈币</a>
                                        </li>
                                        <li> ·
                                            <a href="https://www.ruogoo.cn/life">生命值</a>
                                        </li>
                                        <li> ·
                                            <a href="https://www.ruogoo.cn/score">战力值</a>
                                        </li>
                                        <li> ·
                                            <a href="https://www.ruogoo.cn/money">技能点</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('userFooter') %>