<%- include('header') %>
    <link media="all" type="text/css" rel="stylesheet" href="/css/lib.css">
    <link media="all" type="text/css" rel="stylesheet" href="/css/home.css">
    <link media="all" type="text/css" rel="stylesheet" href="/css/swiper.min.css">
    <div class="body">
        <div class="recommend-section">
            <div class="background-overlay"></div>
            <div class="container recommend-container">
                <div class="recommend-detail">
                    <h2>
                        <a href="article/7356.htm" class="white title extra">笑苍生</a>
                    </h2>
                    <h4>
                        <a href="javascript:if(confirm('https://user.ruogoo.cn/390 ')))window.location='https://user.ruogoo.cn/390'" tppabs="https://user.ruogoo.cn/390" class="white title author">百媚生丶红沐</a>
                    </h4>
                    <a href="article/recommend.htm" class="rg-button see-more ">更多推荐</a>
                </div>

                <div class="recommend-show ">
                    <a href=" " class="image current ">
                        <img src=" " width="240 " height="320 ">
                    </a>
                </div>

                <ul class="recommend-list ">
                    <li class="recommend-item ">
                        <a href="articles/art/47 " class="image recommend-article " data-title="测试文章 " data-author="方丈遗少" data-author-url="/articles/art/47">
                            <img src="/uploads/upload_ba311a1fe97e94daab3ea510e66a6c27.jpg" width="100 ">
                            <p class="title small one-line ">测试文章一</p>
                        </a>
                    </li>
                    <li class="recommend-item ">
                        <a href="articles/art/48 " class="image recommend-article " data-title="归字谣·雨碎为江南 " data-author="君狸辛ぃ " data-author-url="https://user.ruogoo.cn/9805 ">
                            <img src="/uploads/upload_724c3348ad3c7f5bfcefc3e607304f89.jpg" width="100 " height="133.33">
                            <p class="title small one-line ">测试文章二</p>
                        </a>
                    </li>
                    <li class="recommend-item ">
                        <a href="articles/art/49 " class="image recommend-article " data-title="卜算子·故里雨 " data-author="君狸辛ぃ " data-author-url="https://user.ruogoo.cn/9805 ">
                            <img src="/uploads/upload_acb15e23c798df19c0620c83c7bd15bb.png" width="100" height="133.33">
                            <p class="title small one-line ">测试文章三</p>
                        </a>
                    </li>
                    <li class="recommend-item ">
                        <a href="articles/art/50 " class="image recommend-article " data-title="咏玉兰 " data-author="吾悦 " data-author-url="https://user.ruogoo.cn/1367 ">
                            <img src="/uploads/upload_dc440030d77f2bdad4bf4f78edae9272.png" width="100" height="133.33">
                            <p class="title small one-line ">测试文章四</p>
                        </a>
                    </li>
                    <li class="recommend-item ">
                        <a href="articles/art/51 " class="image recommend-article " data-title="《浮光掠影》序——春色如许 " data-author="陌上桃夭 " data-author-url="https://user.ruogoo.cn/565 ">
                            <img src="/uploads/upload_dcf9503f41fd86c42ec50df8754a7d64.jpg" width="100" height="133.33">
                            <p class="title small one-line ">测试文章五</p>
                        </a>
                    </li>
                    <li class="recommend-item ">
                        <a href="articles/art/41" class="image recommend-article " data-title="半盏花开 " data-author="碎樱如梦，听风雨 " data-author-url="https://user.ruogoo.cn/2309 ">
                            <img src="/images/2dc7b29cdb9c3d27f2f4170b4b062956.jpg " width="100 ">
                            <p class="title small one-line ">测试文章六</p>
                        </a>
                    </li>
                    <li class="recommend-item ">
                        <a href="articles/art/42 " class="image recommend-article " data-title="东风十八叹（一） " data-author="江阴士子 " data-author-url="https://user.ruogoo.cn/5240 ">
                            <img src="/images/f1654884c5edf3c340cfacd14e8ea004.jpg " width="100 ">
                            <p class="title small one-line ">测试文章七</p>
                        </a>
                    </li>
                    <li class="recommend-item ">
                        <a href="articles/art/43 " class="image recommend-article " data-title="《飞花三月过秋千》 " data-author="水寒真 " data-author-url="https://user.ruogoo.cn/7630 ">
                            <img src="/images/bd11b1448b7ef8357809dad96874a4c3.jpg " width="100 ">
                            <p class="title small one-line ">测试文章八</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <section class="nice-section container">
            <div class="rg-board one-section white section">
                <div class="rg-board-head">
                    <p class="title">精品文章</p>
                    <a href="https://wenxue.ruogoo.cn/article/nice" class="more"> 更多 &gt;&gt;</a>
                </div>
                <div class="rg-board-body">
                    <div class="col-group">
                        <div class="col-4 col-mb-12">
                            <div class="nicewithpic-item">
                                <a href="https://wenxue.ruogoo.cn/article/7622" class="nice-cover image">
                                    <img src="https://i.ruogoo.cn/cover/5db0729cff38ab5ab08d99699da63f46.jpg@!cover-90" data-original="https://i.ruogoo.cn/cover/5db0729cff38ab5ab08d99699da63f46.jpg@!cover-90" class="cover" alt="西江月.酷暑长">
                                </a>
                                <div class="big title one-line">
                                    <a href="https://wenxue.ruogoo.cn/article/7622">西江月.酷暑长</a>
                                </div>
                                <p class="small text gray summary">常问清风解意？迟迟不过我裳。花柔柳困酷暑长。日午觉醒倚窗。自摇蒲扇逐凉，闲听虫蛙喧嚷。身闲心远梦彷徨，梦醒梦醉皆殇。</p>
                                <p class="author">作者:
                                    <a href="https://user.ruogoo.cn/2">雨梦幽隐</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nicewithpic-item">
                                <a href="https://wenxue.ruogoo.cn/article/7603" class="nice-cover image">
                                    <img src="https://i.ruogoo.cn/cover/68563869f5f8c86c02cab9049005af17.jpg@!cover-90" data-original="https://i.ruogoo.cn/cover/68563869f5f8c86c02cab9049005af17.jpg@!cover-90" class="cover" alt="钗头凤·步陆游（唐婉）韵">
                                </a>
                                <div class="big title one-line">
                                    <a href="https://wenxue.ruogoo.cn/article/7603">钗头凤·步陆游（唐婉）韵</a>
                                </div>
                                <p class="small text gray summary">《钗头凤·步陆游韵》 芊芊手，慵提酒，月明人醉风扶柳。心情恶，书笺薄，满怀思绪，断章求索。错，错，错。 人非旧，冰蟾瘦，暗将心事微微透。琴音落，书香阁，秋眸
                                </p>
                                <p class="author">作者:
                                    <a href="https://user.ruogoo.cn/390">百媚生丶红沐</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nicewithpic-item">
                                <a href="https://wenxue.ruogoo.cn/article/7596" class="nice-cover image">
                                    <img src="https://i.ruogoo.cn/cover/03250b519f94572cbffd834968d14ca2.jpg@!cover-90" data-original="https://i.ruogoo.cn/cover/03250b519f94572cbffd834968d14ca2.jpg@!cover-90" class="cover" alt="无你">
                                </a>
                                <div class="big title one-line">
                                    <a href="https://wenxue.ruogoo.cn/article/7596">无你</a>
                                </div>
                                <p class="small text gray summary">谷雨无你，恁他芬芳遍地仍无需记起； 立夏无你，绚烂繁华怎及我寒心所依； 小满无你，他人相逢却不及你我分离； 芒种无你，情花采撷情种又何人怜惜； 夏至无你，初阳炙热便烤我心思难续； 小暑无你，

                                </p>
                                <p class="author">作者:
                                    <a href="https://user.ruogoo.cn/10125">潇湘夜雨愁</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nicewithpic-item">
                                <a href="https://wenxue.ruogoo.cn/article/7579" class="nice-cover image">
                                    <img src="https://i.ruogoo.cn/cover/ef2df92776608065567c66fd412d1094.jpg@!cover-90" data-original="https://i.ruogoo.cn/cover/ef2df92776608065567c66fd412d1094.jpg@!cover-90" class="cover" alt="题落花">
                                </a>
                                <div class="big title one-line">
                                    <a href="https://wenxue.ruogoo.cn/article/7579">题落花</a>
                                </div>
                                <p class="small text gray summary">其一 锦绣簇新枝，暖风几处知。 今朝游苑去，昨夜数莺啼。 忽见馀花点，惊觉暮雨急。 人间恍若梦，春意却别离。 其二 细雨落重檐，斜风画满天。 葱茏芳草地，烂漫暮春颜。 清泪珠帘下，香魂花冢前。 多情尤
                                </p>
                                <p class="author">作者:
                                    <a href="https://user.ruogoo.cn/8747">宸妃</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nicewithpic-item">
                                <a href="https://wenxue.ruogoo.cn/article/7577" class="nice-cover image">
                                    <img src="https://i.ruogoo.cn/cover/58874ccfaa91fdf279254dc623452d17.jpg@!cover-90" data-original="https://i.ruogoo.cn/cover/58874ccfaa91fdf279254dc623452d17.jpg@!cover-90" class="cover" alt="摸鱼儿">
                                </a>
                                <div class="big title one-line">
                                    <a href="https://wenxue.ruogoo.cn/article/7577">摸鱼儿</a>
                                </div>
                                <p class="small text gray summary">《摸鱼儿·因事有感》 望云天、落霞西下，昏鸦啼血飞去。几时还醉风尘卧，不认眼前归路。残酒煮，冷粥热、依稀将就填空肚。泪花飞舞，鬓角脸相揉，泣啼醉语，愿得忘愁楚。
                                </p>
                                <p class="author">作者:
                                    <a href="https://user.ruogoo.cn/390">百媚生丶红沐</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nicewithpic-item">
                                <a href="https://wenxue.ruogoo.cn/article/7575" class="nice-cover image">
                                    <img src="https://i.ruogoo.cn/cover/a1c991571b23348269a3080ecd58a334.jpg@!cover-90" data-original="https://i.ruogoo.cn/cover/a1c991571b23348269a3080ecd58a334.jpg@!cover-90" class="cover" alt="临江仙·夏林漫游">
                                </a>
                                <div class="big title one-line">
                                    <a href="https://wenxue.ruogoo.cn/article/7575">临江仙·夏林漫游</a>
                                </div>
                                <p class="small text gray summary">清露晨曦拂绿叶，浅红淡紫零星。叶间光影碎轻盈，微风正起，远黛恰方晴。 天朗鹤啼随欲去，蝉鸣山涧空灵。何堪浊世旧林情，醉中之意，尽作水泠泠。
                                </p>
                                <p class="author">作者:
                                    <a href="https://user.ruogoo.cn/3197">公子扶苏</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="nice-list col-group">
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7623" class="title"> 鹧鸪天 </a> /
                                <a href="https://user.ruogoo.cn/2205" class="gray"> 逍遥道君</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7609" class="title"> 忆秦娥 觅春  </a> /
                                <a href="https://user.ruogoo.cn/2205" class="gray"> 逍遥道君</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7608" class="title"> 入定 </a> /
                                <a href="https://user.ruogoo.cn/136" class="gray"> 江南唐韵瓷</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7605" class="title"> 七言·雾中游坝头 </a> /
                                <a href="https://user.ruogoo.cn/8383" class="gray"> 沾染罗香为君妆</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7601" class="title"> 樱桃园游 </a> /
                                <a href="https://user.ruogoo.cn/6781" class="gray"> 王子娴</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7586" class="title"> 将进酒（五） </a> /
                                <a href="https://user.ruogoo.cn/6339" class="gray"> 川江居士/擎渊行者</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/sgsw" class="gray">[散文]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7585" class="title"> 阳光落地 </a> /
                                <a href="https://user.ruogoo.cn/6339" class="gray"> 川江居士/擎渊行者</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7576" class="title"> 《古道策马两相望》 </a> /
                                <a href="https://user.ruogoo.cn/9905" class="gray"> 梧桐渡枫桥堤梦中若相思</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7574" class="title"> 有美一人，见之不忘。 </a> /
                                <a href="https://user.ruogoo.cn/8383" class="gray"> 沾染罗香为君妆</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7573" class="title"> 随笔/海 </a> /
                                <a href="https://user.ruogoo.cn/2309" class="gray"> 樰枂碸樺</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7572" class="title"> 农村晚上停电 </a> /
                                <a href="https://user.ruogoo.cn/10028" class="gray"> 忘忧草</a>
                            </div>
                        </div>
                        <div class="col-4 col-mb-12">
                            <div class="nice-item text one-line">
                                <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                <a href="https://wenxue.ruogoo.cn/article/7567" class="title"> 如梦令·雨至 </a> /
                                <a href="https://user.ruogoo.cn/8383" class="gray"> 沾染罗香为君妆</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="article-section container">
            <div class="col-group">
                <div class="col-8 col-mb-12">
                    <div class="rg-board one-section white section">
                        <div class="rg-board-head">
                            <p class="title">最新文章</p>
                            <a href="https://wenxue.ruogoo.cn/article" class="more"> 更多 &gt;&gt;</a>
                        </div>
                        <div class="rg-board-body">
                            <div class="col-group">
                                <ul class="latest-list">
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/xsgs" class="gray">[小说]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7628">许你春风  独守风霜冷</a> -
                                            <a href="https://user.ruogoo.cn/8999" class="small text gray">顾尔锦时</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7627">风兮</a> -
                                            <a href="https://user.ruogoo.cn/8747" class="small text gray">宸妃</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7626">采莲</a> -
                                            <a href="https://user.ruogoo.cn/8999" class="small text gray">顾尔锦时</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/default" class="gray">[默认]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7625">思君（二）</a> -
                                            <a href="https://user.ruogoo.cn/1367" class="small text gray">吾悦</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7624">西江月.晨兴夜梦</a> -
                                            <a href="https://user.ruogoo.cn/2" class="small text gray">雨梦幽隐</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7623">鹧鸪天</a> -
                                            <a href="https://user.ruogoo.cn/2205" class="small text gray">逍遥道君</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7622">西江月.酷暑长</a> -
                                            <a href="https://user.ruogoo.cn/2" class="small text gray">雨梦幽隐</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7621">霜天晓角</a> -
                                            <a href="https://user.ruogoo.cn/5240" class="small text gray">江阴士子</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7620">五绝•夜读</a> -
                                            <a href="https://user.ruogoo.cn/5240" class="small text gray">江阴士子</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7619">百宜娇.感秋</a> -
                                            <a href="https://user.ruogoo.cn/525" class="small text gray">逸云先生</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7618">平生小志</a> -
                                            <a href="https://user.ruogoo.cn/136" class="small text gray">江南唐韵瓷</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/sgsw" class="gray">[散文]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7617">醉红尘</a> -
                                            <a href="https://user.ruogoo.cn/10143" class="small text gray">love-Kobe安落枢</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/sgsw" class="gray">[散文]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7616">恨不相逢韶华时</a> -
                                            <a href="https://user.ruogoo.cn/10143" class="small text gray">love-Kobe安落枢</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7615">虞美人</a> -
                                            <a href="https://user.ruogoo.cn/10143" class="small text gray">love-Kobe安落枢</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7614">《忘了吗？》卷五</a> -
                                            <a href="https://user.ruogoo.cn/9495" class="small text gray">红颜先生</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7613">《忘了吗？》卷四</a> -
                                            <a href="https://user.ruogoo.cn/9495" class="small text gray">红颜先生</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7612">《忘了吗？》卷三</a> -
                                            <a href="https://user.ruogoo.cn/9495" class="small text gray">红颜先生</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7611">《忘了吗？》卷二</a> -
                                            <a href="https://user.ruogoo.cn/9495" class="small text gray">红颜先生</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7610">《忘了吗？》卷一</a> -
                                            <a href="https://user.ruogoo.cn/9495" class="small text gray">红颜先生</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7609">忆秦娥 觅春 </a> -
                                            <a href="https://user.ruogoo.cn/2205" class="small text gray">逍遥道君</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7608">入定</a> -
                                            <a href="https://user.ruogoo.cn/136" class="small text gray">江南唐韵瓷</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7607">青史·血泪</a> -
                                            <a href="https://user.ruogoo.cn/136" class="small text gray">江南唐韵瓷</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7606">思君</a> -
                                            <a href="https://user.ruogoo.cn/1367" class="small text gray">吾悦</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7605">七言·雾中游坝头</a> -
                                            <a href="https://user.ruogoo.cn/8383" class="small text gray">沾染罗香为君妆</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7604">忆长安七夕夜</a> -
                                            <a href="https://user.ruogoo.cn/10088" class="small text gray">与子成说</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7603">钗头凤·步陆游（唐婉）韵</a> -
                                            <a href="https://user.ruogoo.cn/390" class="small text gray">百媚生丶红沐</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7602">三千地狱</a> -
                                            <a href="https://user.ruogoo.cn/9495" class="small text gray">红颜先生</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7601">樱桃园游</a> -
                                            <a href="https://user.ruogoo.cn/6781" class="small text gray">王子娴</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/sgsw" class="gray">[散文]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7600">我如此爱你</a> -
                                            <a href="https://user.ruogoo.cn/10125" class="small text gray">潇湘夜雨愁</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/xsgs" class="gray">[小说]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7599">凤傲云霓</a> -
                                            <a href="https://user.ruogoo.cn/3846" class="small text gray">倚南寄傲</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7598">诗经·神曲·小苹果</a> -
                                            <a href="https://user.ruogoo.cn/10125" class="small text gray">潇湘夜雨愁</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7597">有你</a> -
                                            <a href="https://user.ruogoo.cn/10125" class="small text gray">潇湘夜雨愁</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7596">无你</a> -
                                            <a href="https://user.ruogoo.cn/10125" class="small text gray">潇湘夜雨愁</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7595">四美一字诗</a> -
                                            <a href="https://user.ruogoo.cn/10125" class="small text gray">潇湘夜雨愁</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7594">四平生</a> -
                                            <a href="https://user.ruogoo.cn/10125" class="small text gray">潇湘夜雨愁</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7593">思念是回文</a> -
                                            <a href="https://user.ruogoo.cn/10125" class="small text gray">潇湘夜雨愁</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7592">暇境</a> -
                                            <a href="https://user.ruogoo.cn/10114" class="small text gray">太行山上的歌</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7591">桃花葬</a> -
                                            <a href="https://user.ruogoo.cn/10114" class="small text gray">太行山上的歌</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/scgf" class="gray">[诗词]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7590">木兰花</a> -
                                            <a href="https://user.ruogoo.cn/10125" class="small text gray">潇湘夜雨愁</a>
                                        </li>
                                    </div>
                                    <div class="col-6 col-mb-12">
                                        <li class="article-item text one-line">
                                            <a href="https://wenxue.ruogoo.cn/category/gwgd" class="gray">[古微]</a>
                                            <a href="https://wenxue.ruogoo.cn/article/7587">醉罢阳关   送君千里</a> -
                                            <a href="https://user.ruogoo.cn/8999" class="small text gray">顾尔锦时</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 col-mb-12">
                    <div class="rg-board one-section white section">
                        <div class="rg-board-head">
                            <p class="title">热门排行</p>
                        </div>
                        <div class="rg-board-body">
                            <ul class="top-list">
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">1. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7477">最是人间留不住</a> -
                                    <a href="https://user.ruogoo.cn/2" class="small text gray">雨梦幽隐</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">2. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7575">临江仙·夏林漫游</a> -
                                    <a href="https://user.ruogoo.cn/3197" class="small text gray">公子扶苏</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">3. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7511">石州慢•北望中原，感南宋局势而为</a> -
                                    <a href="https://user.ruogoo.cn/5240" class="small text gray">江阴士子</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">4. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7501">花为谁落</a> -
                                    <a href="https://user.ruogoo.cn/10004" class="small text gray">忆枫</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">5. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7574">有美一人，见之不忘。</a> -
                                    <a href="https://user.ruogoo.cn/8383" class="small text gray">沾染罗香为君妆</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">6. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7567">如梦令·雨至</a> -
                                    <a href="https://user.ruogoo.cn/8383" class="small text gray">沾染罗香为君妆</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">7. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7572">农村晚上停电</a> -
                                    <a href="https://user.ruogoo.cn/10028" class="small text gray">忘忧草</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">8. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7503">六言</a> -
                                    <a href="https://user.ruogoo.cn/9216" class="small text gray">溪斗居士</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">9. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7408">画堂春·雨后初晴有感</a> -
                                    <a href="https://user.ruogoo.cn/3197" class="small text gray">公子扶苏</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">10. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7498">九张机·妇泣</a> -
                                    <a href="https://user.ruogoo.cn/9938" class="small text gray">许暮柔</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">11. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7622">西江月.酷暑长</a> -
                                    <a href="https://user.ruogoo.cn/2" class="small text gray">雨梦幽隐</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">12. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7562">鹧鸪天 </a> -
                                    <a href="https://user.ruogoo.cn/2205" class="small text gray">逍遥道君</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">13. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7513">明     目</a> -
                                    <a href="https://user.ruogoo.cn/6339" class="small text gray">川江居士/擎渊行者</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">14. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7547">让我先为你弹奏一曲</a> -
                                    <a href="https://user.ruogoo.cn/10004" class="small text gray">忆枫</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">15. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7549">慢卷绸.小暑</a> -
                                    <a href="https://user.ruogoo.cn/525" class="small text gray">逸云先生</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">16. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7522">终南山游冶</a> -
                                    <a href="https://user.ruogoo.cn/6339" class="small text gray">川江居士/擎渊行者</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">17. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7564">苍苍蒹葭（一）</a> -
                                    <a href="https://user.ruogoo.cn/3846" class="small text gray">倚南寄傲</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">18. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7539">吾诗两首</a> -
                                    <a href="https://user.ruogoo.cn/136" class="small text gray">江南唐韵瓷</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">19. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7624">西江月.晨兴夜梦</a> -
                                    <a href="https://user.ruogoo.cn/2" class="small text gray">雨梦幽隐</a>
                                </li>
                                <li class="article-item text one-line">
                                    <i class="article-no text gray">20. </i>
                                    <a href="https://wenxue.ruogoo.cn/article/7500">雷阵雨</a> -
                                    <a href="https://user.ruogoo.cn/10028" class="small text gray">忘忧草</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/push.js"></script>
        <script async="" src="/js/analytics.js"></script>
        <script src="/js/hm.js?5b73570792602cb83cdb6b9af4ef15cd"></script>
        <script src="/js/lib.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $.ajaxSetup({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                });
                $.support.cors = true;
                $('input, textarea').placeholder();
                $('img[data-original]').lazyload({
                    placeholder: "https://static.ruogoo.cn/image/blank.gif",
                    effect: "fadeIn",
                    threshold: 400
                });
                $('.ui.pop').popup({
                    position: 'bottom center',
                    variation: "inverted",
                    delay: {
                        hide: 200
                    }
                });
                $('.ui.htmlpop').popup({
                    inline: true,
                    hoverable: true,
                    exclusive: true,
                    jitter: 20,
                    position: 'bottom center',
                    delay: {
                        show: 100,
                        hide: 500
                    }
                });
                $('select.dropdown').dropdown();
                $('.ui.tabs .item').tab();
                $('.ui.trigger').click(function() {
                    var target = $(this).data('target');
                    $(target).modal('show');
                });
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });

                $('.ui.tint.blur').each(function() {
                    var imageUrl = $(this).data('image');
                    $(this).css({
                        position: 'relative',
                        'z-index': '1'
                    });
                    $('<div class="tint-overlay"></div>').css({
                        position: 'absolute',
                        width: '100%',
                        height: '100%',
                        overflow: 'hidden',
                        'z-index': '-1'
                    }).prependTo($(this));

                    $(this).find('.tint-overlay').backgroundBlur({
                        imageURL: imageUrl,
                        blurAmount: 20,
                        imageClass: 'tint-bg-blur',
                        duration: 500,
                        endOpacity: 1
                    }).css('background', 'rgba(0, 0, 0, 0.2)');
                });

                if ($('.waterfall').length > 0) {
                    waterfall('.waterfall');
                }
            });
            new Menu();
            var RG = {};

            RG.currentUser = {
                "id": 10113,
                "name": "\u65b9\u4e08\u9057\u5c11\u4e0d\u662f\u675c\u4e09\u8d31",
                "active": 0,
                "avatar": "https:\/\/o.ruogoo.cn\/user\/4b5fe67f898c7731a70fc3425cf8063b.jpeg",
                "gender": 0,
                "birth": "",
                "city": "",
                "qq": "",
                "weibo": "",
                "signature": "",
                "introduction": "",
                "recommend": 0,
                "writter": 0,
                "writter_status": 0,
                "life": 2,
                "popular": 0,
                "score": 1,
                "level": 0,
                "created_at": "2017-07-18 12:45:57",
                "updated_at": "2017-08-02 16:40:21"
            };
        </script>
        <div class="mm-menu-mask"></div>
        <script src="/js/home.js"></script>
        <script src="/js/swiper.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var $swiperContainer = $('.swiper-container');
                if ($swiperContainer.length > 0) {
                    $swiperContainer.swiper({
                        direction: 'horizontal',
                        autoplay: 3000,
                        loop: true,
                        pagination: '.swiper-pagination',
                        paginationClickable: true
                    });
                }
            });
        </script>
        <script type="text/javascript">
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?5b73570792602cb83cdb6b9af4ef15cd";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-64523090-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script>
            (function() {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                } else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();
        </script>
        <%- include('footer') %>