<%- include('header') %>
    <div class="tint-overlay" style="position: absolute; width: 100%; height: 100%; overflow: hidden; z-index: -1; background: rgba(0, 0, 0, 0.2);">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1349" height="320" id="blurred_5pwoy2wr0" class="tint-bg-blur" viewBox="0 0 1349 320" preserveAspectRatio="none" style="opacity: 1;">
        <filter id="blur_5pwoy2wr0"><feGaussianBlur in="SourceGraphic" stdDeviation="20"></feGaussianBlur></filter><image x="0" y="0" width="1349" height="320" externalResourcesRequired="true" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://static.ruogoo.cn/image/theme/008.jpg" style="filter:url(#blur_5pwoy2wr0)" preserveAspectRatio="none"></image></svg></div>

    <%- include('footer') %>