<%- include('header') %>
    <form action="/signin" method="post">
        <div class="form-group">
            <div class="form-name left">
                <label>用户名</label>
            </div>
            <input type="text" name="username" class="form-input left" />
        </div>
        <div class="form-group">
            <div class="form-name left">
                <label>密码</label>
            </div>
            <input type="password" name="password" class="form-input left" />
        </div>
        <div class="form-btn">
            <input type="submit" value="登录" />
            <input type="button" value="注册" onclick="getRegist()" />
        </div>
        <div class="form-btn">
            <label class="warn"><%=errMsg %></label>
        </div>
    </form>
    <script type="text/javascript">
        function getRegist() {
            location.href = "/signup";
        }
    </script>
    <%- include('footer') %>