<%- include('header') %>
    <form action="/signup" method="post">
        <div class="form-group">
            <div class="form-name left">
                <label>用户名</label>
            </div>
            <input type="text" name="username" class="form-input left" />
        </div>
        <div class="form-group">
            <div class="form-name left">
                <label>密码</label>
            </div>
            <input type="password" name="password" class="form-input left" />
        </div>
        <div class="form-btn">
            <input type="submit" value="注册" />
        </div>
        <div class="form-btn">
            <label class="warn"><%= errMsg %></label>
        </div>
        <% if(locals.status=="success"){ %>
            <div class="form-btn">
                注册成功，请点击<a href='/signin'>登录</a>
            </div>
            <%} %>
    </form>
    <%- include('footer') %>